@media screen and (max-width: 500px) {
    header {
        display: grid;
        grid-template-columns: 1fr;

        img {
            margin-bottom: 2rem;
        }

        div p {
            text-align: center;
        }
    }

    .homeSections {
        display: grid;
        grid-template-columns: 1fr;
    }

    /*----------- News Cards styling ----------*/

    .newsCards {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
}